.container {
   
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    /* margin: 40px; */
     padding: 20px; 
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  .left-box, .right-box {
    flex: 1;
  }
  
  .image {
    width: 107%;
    height: auto;
    border-radius: 10px;
  }
  
  .headline {
    font-size: 70px;
    color: #0e2462;
    font-weight: bold;
  }
  
  .description {
    margin-top: 20px;
    font-size: 25px;
    color: #010710; /* Gray-700 */
  }